html, body {
  margin: 0;
  padding: 0; }

body {
  background: #fcfcfa;
  font-family: 'pt sans', sans-serif;
  color: #444;
  font-size: 11pt;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p, ol, ul, pre, ol>li {
  max-width: 500px;
  margin: 20px 0; }

ol, ul {
  padding-left: 0;
  margin-left: 30px; }

#all {
  min-width: 960px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  padding: 40px; }

a, a:visited {
  text-decoration: none;
  border-bottom: solid 1px #ccf;
  color: #46b; }

a:hover {
  background: #fafae0; }

/* List */
ul li > p > strong:first-child {
  display: block;
  font-size: 1.1em; }

/* Headings */
h1 {
  font-family: palatino, serif; }

h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 0 rgba(55, 55, 55, 0.1);
  margin-top: 40px;
  color: #568;
  font-weight: normal;
  font-family: shanti, palatino, serif; }

h3 {
  color: #77a; }

h4, h5, h6 {
  color: #88a; }

h2 {
  max-width: none;
  padding-top: 30px;
  margin-top: 40px; }

h3 {
  max-width: none;
  padding-top: 10px;
  margin-top: 40px; }

h1 { font-size: 30pt; }
h2 { font-size: 20pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }
h5 { font-size: 10pt; }
h6 { font-size: 10pt; }

h2+p { margin-top: 0; }
h2+pre.right+p { margin-top: 0; }

/* Code */
pre, code {
  font-family: Monaco, monospace; }

code {
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.99);
  font-family: 'shanti', sans-serif;
  color: #9090aa; }

pre > code {
  color: #60606f;
  text-shadow: none;
  font-family: Monaco, monospace;
  background: 0;
  padding: 0;
  border: 0; }

pre {
  font-size: 9pt;
  padding-top: 5px;
  background: transparent; }

/* The header */
.header h1, .header h2, .header h3,
.header h4, .header h5, .header h6 {
  text-shadow: none;
  line-height: 1.35;
  margin: 0;
  padding: 0; }

.header h1 {
  font-family: 'pt sans', sans-serif;
  font-weight: bold;
  color: #779; }

.header h2, .header h3,
.header h4, .header h5, .header h6 {
  color: #aab; } /* color: #78b; */

.header h4 {
  font-size: 1.4em;
  font-family: palatino, serif;
  font-style: italic;
  font-weight: normal; }

/* Literate */
body.literate h4, body.literate h5, body.literate h6, body.literate p,
body.literate ol, body.literate ul, body.literate pre {
  max-width: 400px; }

body.literate pre.right {
  clear: both;
  max-width: none;
  width: 490px;
  margin-left: 50px;
  float: right; }

body.literate pre.right code {
  color: #78a; }

body.literate h1 + pre.right,
body.literate h2 + pre.right,
body.literate h3 + pre.right {
  margin-top: 0; }

h1, h2, h3 {
  clear: both; }

.clear {
  clear: both; }

br.post-pre {
  clear: both; }

h4 { margin-bottom: 5px; }
h4+p,
h4+pre.right,
h4+pre.right+p { margin-top: 0; }

/* Section-wrap */
section {
  width: 960px;
  margin-top: 0;
  margin-left: 0;
  padding-left: 40px;
  margin-left: -40px;
  padding-right: 9000px; }

section.h2:nth-child(even) {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.8); }

section:first-of-type {
  margin-top: 40px; }

section.h1, section.h2, section.h3 {
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: solid 1px #ddd; }

section.h3 {
  padding-top: 20px;
  margin-top: 40px;
  padding-left: 30px;
  border-left: solid 10px #e7e7f4;
  border-top: dotted 1px #ddd; }

section.h3:nth-child(odd) {
  border-left-color: #d0d0e8; }

section.h3 + section.h3 {
  margin-top: -20px; }

section.h1>:first-child, section.h2>:first-child, section.h3>:first-child {
  padding-top: 0;
  margin-top: 0; }

/* Pretty printing styles. Used with prettify.js. */
.str { color: #080; }
.kwd { color: #008; }
.com { color: #607077; background: rgba(0, 0, 0, 0.05); padding: 1px 3px; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1, li.L3, li.L5, li.L7, li.L9 { background: #eee }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

/* Workaround */
section + ul {
  margin-bottom: 30px;
  margin-top: -30px; }
