div { color: red; }
body { background: url(/images/background.jpg); }
#nonexistent { background: url(/images/404.png); }
@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700');