<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <%= css :main %>
</head>
<body>
  <div id="all">
    <h1>Here are some sprites:</h1>
    <span class='image1'></span>
    <span class='image2'></span>
  </div>
</body>
</html>
